# Claude
.claude/
.history

# Env
.env

# Project
.logs/
tmp/
/database/
configs/config.local.yml
configs/config.prod.yml
/download
magnet
.env

# IDE
.vscode/
.idea/

# Go
*.exe
*.test
*.out
*.so
*.dylib
*.a
vendor/
go.work
go.work.sum
__debug_bin

# OS
.DS_Store
Thumbs.db